# Preprocesamiento y union de dataset

En este notebook, se realizará el procesamiento y la unión del conjunto de dataset para posteriormente evaluar el modelo.

In [1]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

## Lectura de los Archivos .csv

Este conjunto de datos ha sido obtenido de [kaggle](https://www.kaggle.com/adityadesai13/used-car-dataset-ford-and-mercedes) y muestra un conjunto de datos de 100,000 autos usados.

In [2]:
DatasetAudi = pd.read_csv("../data/audi.csv")
DatasetBmw = pd.read_csv("../data/bmw.csv")
DatasetHyundi = pd.read_csv("../data/hyundi.csv")
DatasetMerc = pd.read_csv("../data/merc.csv")
DatasetToyota = pd.read_csv("../data/toyota.csv")

## Preparación de los datasets

Definir la marca para cada dataset.

In [3]:
DatasetAudi = DatasetAudi.assign(Brand="Audi")
DatasetBmw = DatasetBmw.assign(Brand="Bmw")
DatasetHyundi = DatasetHyundi.assign(Brand="Hyundi")
DatasetMerc = DatasetMerc.assign(Brand="Mercedes")
DatasetToyota = DatasetToyota.assign(Brand="Toyota")

Definimos una función que obtenga los 5 primeros modelos de un dataset.

In [4]:
def Obtener5Modelos(data):
    
    # eliminar los espacios del string model (por ejemplo: ' A1')
    data['model'] = data['model'].str.strip()
    
    # verificar los modelos
    modelos = list(pd.unique(data['model']))
    
    # print("Modelos: ", list(modelos))
    # print("")
    
    # Escoger 5 primeros modelos
    modelos = modelos[:5]
    data = data[ data['model'].isin(modelos) ]
   
    return data

In [5]:
DatasetAudi = Obtener5Modelos(DatasetAudi)
DatasetBmw = Obtener5Modelos(DatasetBmw)
DatasetHyundi = Obtener5Modelos(DatasetHyundi)
DatasetMerc = Obtener5Modelos(DatasetMerc)
DatasetToyota = Obtener5Modelos(DatasetToyota)

## Unión de los dataset

Primero guardo todos los dataframe en una variable "archivos" y se muestra

In [6]:
Archivos = [DatasetAudi, DatasetBmw, DatasetHyundi, DatasetMerc, DatasetToyota]
Archivos

[      model  year  price transmission  mileage fuelType  tax   mpg  \
 0        A1  2017  12500       Manual    15735   Petrol  150  55.4
 1        A6  2016  16500    Automatic    36203   Diesel   20  64.2
 2        A1  2016  11000       Manual    29946   Petrol   30  55.4
 3        A4  2017  16800    Automatic    25952   Diesel  145  67.3
 4        A3  2019  17300       Manual     1998   Petrol  145  49.6
 ...     ...   ...    ...          ...      ...      ...  ...   ...
 10663    A3  2020  16999       Manual     4018   Petrol  145  49.6
 10664    A3  2020  16999       Manual     1978   Petrol  150  49.6
 10665    A3  2020  17199       Manual      609   Petrol  150  49.6
 10666    Q3  2017  19499    Automatic     8646   Petrol  150  47.9
 10667    Q3  2016  15999       Manual    11855   Petrol  150  47.9

        engineSize Brand
 0             1.4  Audi
 1             2.0  Audi
 2             1.4  Audi
 3             2.0  Audi
 4             1.0  Audi
 ...           ...   ...
 10663         1.0  Audi
 10664         1.0  Audi
 10665         1.0  Audi
 10666         1.4  Audi
 10667         1.4  Audi

 [6822 rows x 10 columns],
           model  year  price transmission  mileage fuelType  tax   mpg  \
 0      5 Series  2014  11200    Automatic    67068   Diesel  125  57.6
 1      6 Series  2018  27000    Automatic    14827   Petrol  145  42.8
 2      5 Series  2016  16000    Automatic    62794   Diesel  160  51.4
 3      1 Series  2017  12750    Automatic    26676   Diesel  145  72.4
 4      7 Series  2014  14500    Automatic    39554   Diesel  160  50.4
 ...         ...   ...    ...          ...      ...      ...  ...   ...
 10771  5 Series  2015  11700    Automatic   106000   Diesel  160  51.4
 10772  1 Series  2017  10200       Manual    41435   Diesel    0  83.1
 10774  5 Series  2016  14300    Automatic    67530   Diesel   30  62.8
 10777  5 Series  2016  14600    Automatic    42947   Diesel  125  60.1
 10779  1 Series  2014   9930    Automatic    45000   Diesel   30  64.2

        engineSize Brand
 0             2.0   Bmw
 1             2.0   Bmw
 2             3.0   Bmw
 3             1.5   Bmw
 4             3.0   Bmw
 ...           ...   ...
 10771         2.0   Bmw
 10772         1.5   Bmw
 10774         2.0   Bmw
 10777         2.0   Bmw
 10779         2.0   Bmw

 [4468 rows x 10 columns],
        model  year  price transmission  mileage fuelType  tax   mpg  \
 0        I20  2017   7999       Manual    17307   Petrol  145  58.9
 1     Tucson  2016  14499    Automatic    25233   Diesel  235  43.5
 2     Tucson  2016  11399       Manual    37877   Diesel   30  61.7
 3        I10  2016   6499       Manual    23789   Petrol   20  60.1
 4       IX35  2015  10199       Manual    33177   Diesel  160  51.4
 ...      ...   ...    ...          ...      ...      ...  ...   ...
 4853  Tucson  2016  12495       Manual    35000   Diesel   30  61.7
 4855     I30  2016   8680       Manual    25906   Diesel    0  78.4
 4857     I10  2017   6830       Manual    13810   Petrol   20  60.1
 4858  Tucson  2018  13994       Manual    23313   Petrol  145  44.8
 4859  Tucson  2016  15999    Automatic    11472   Diesel  125  57.6

       engineSize   Brand
 0            1.2  Hyundi
 1            2.0  Hyundi
 2            1.7  Hyundi
 3            1.0  Hyundi
 4            2.0  Hyundi
 ...          ...     ...
 4853         1.7  Hyundi
 4855         1.6  Hyundi
 4857         1.0  Hyundi
 4858         1.6  Hyundi
 4859         1.7  Hyundi

 [3542 rows x 10 columns],
            model  year  price transmission  mileage fuelType  tax   mpg  \
 0            SLK  2005   5200    Automatic    63000   Petrol  325  32.1
 1        S Class  2017  34948    Automatic    27000   Hybrid   20  61.4
 2       SL CLASS  2016  49948    Automatic     6200   Petrol  555  28.0
 3        G Class  2016  61948    Automatic    16000   Petrol  325  30.4
 4        G Class  2016  73948    Automatic     4000   Petrol  325  30.1
 ...          ...   ...    ...          ...      ...      ...  ...   ...
 13089   SL CLASS  2017  20659    Automatic     6573   Diesel  150  70.6
 13092  GLE Class  2016  30045    Automatic    18524   Diesel  240  42.8
 13096  GLE Class  2016  27999    Automatic    27804   Diesel  260  42.8
 13108        SLK  2016  17499    Automatic    30128   Diesel   30  70.6
 13118    S Class  2019  54999    Automatic     2075   Diesel  145  52.3

        engineSize     Brand
 0             1.8  Mercedes
 1             2.1  Mercedes
 2             5.5  Mercedes
 3             4.0  Mercedes
 4             4.0  Mercedes
 ...           ...       ...
 13089         2.1  Mercedes
 13092         3.0  Mercedes
 13096         3.0  Mercedes
 13108         2.1  Mercedes
 13118         2.9  Mercedes

 [1028 rows x 10 columns],
       model  year  price transmission  mileage fuelType  tax   mpg  \
 0      GT86  2016  16000       Manual    24089   Petrol  265  36.2
 1      GT86  2017  15995       Manual    18615   Petrol  145  36.2
 2      GT86  2015  13998       Manual    27469   Petrol  265  36.2
 3      GT86  2017  18998       Manual    14736   Petrol  150  36.2
 4      GT86  2017  17498       Manual    36284   Petrol  145  36.2
 ...     ...   ...    ...          ...      ...      ...  ...   ...
 3642  Auris  2015  12799    Automatic    26622   Hybrid    0  72.4
 3643  Auris  2017  15694    Automatic     8613   Hybrid  135  78.5
 3644  Auris  2017  14695    Automatic    53707   Hybrid    0  78.5
 3645  Auris  2017  15595    Automatic    41904   Hybrid    0  78.5
 3646  Auris  2017  15895    Automatic    33278   Hybrid    0  78.5

       engineSize   Brand
 0            2.0  Toyota
 1            2.0  Toyota
 2            2.0  Toyota
 3            2.0  Toyota
 4            2.0  Toyota
 ...          ...     ...
 3642         1.8  Toyota
 3643         1.8  Toyota
 3644         1.8  Toyota
 3645         1.8  Toyota
 3646         1.8  Toyota

 [3647 rows x 10 columns]]

Se unen todos los archivos en "DfAutos" .

In [7]:
DfAutos= pd.DataFrame()
DfAutos= DfAutos.append(Archivos[0:], ignore_index='true')

Finalmente se guardan los datos en un archivo .csv llamado "autos".

In [8]:
DfAutos.to_csv("../data/autos.csv", index=False)